<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% load static %}

</head>


<body>
<div id="header" class="header">
    <!-- NAVIGATION BAR -->
    <nav id="navbar" class="navbar navbar-expand-sm justify-content-center py-4">
        <a class="navbar-brand mr-auto" href="#">ADMIN</a>
        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-secondary" href="{% url 'admin:blogs'%}">Blogs</a>
            </li>
        </ul>
    </nav>
</div>
{% block content %}
{% endblock %}
</body>
</html>