<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% load static %}
    <link rel="stylesheet" href="/static/output.css">

</head>


<body>
<div id="header" class="p-4">
    <!-- NAVIGATION BAR -->
    <nav id="navbar" class="flex justify-between text-xl text-white bg-black p-4 py-8 gap-4">
        <a class="text-white bg-black" href="#">ADMIN PANEL</a>
        <div class="text-xs text-slate-600">logged in as {{ user }}
            <a class="underline " href="{% url 'admin:logout' %}">logout</a>
        </div>
        <a class="text-white bg-black" href="{% url 'admin:blogs'%}">Blogs</a>
    </nav>
</div>
{% block content %}
{% endblock %}
</body>
</html>